@mixin tablet 
  @media all and (max-width: 780px) 
    @content

@mixin mobile 
  @media all and (max-width: 420px) 
    @content

@mixin mobileSmall 
  @media all and (max-width: 340px) 
    @content

html,
body
  background-color: #e0e0e0
  margin: 0
  -webkit-tap-highlight-color: transparent

::selection
  background: #311b92
  color: white
::-moz-selection 
  background: #311b92
  color: white

//---TOP NavBar Styling---//
nav
  background-color: #311b92

nav .brand-logo
  margin-left: 15px
  cursor: default
  color: #FAFAFA
  @include mobile
    margin-left: 0
    font-size: 1.7rem
  @include mobileSmall
    font-size: 1.5rem

// Price card //

.priceWrap
  height: 100%
  width: 100%
  display: flex
  margin-top: 100px
  @include mobileSmall
    margin-top: 10%
  .priceContainer
    background-color: #fff
    height: 215px
    margin: auto
    @include mobileSmall
      height: 350px
    .selectorWrap
      width: 100%
      height: 60%
      display: flex
      @include mobileSmall
        flex-direction: column
      .input-field
        margin: auto
      .dropdown-content 
        max-height: 200px !important
    .buttonWrap
      position: relative
      width: 100%
      height: 40%
      display: flex
      align-items: center
      justify-content: flex-end
      @include mobileSmall
        justify-content: center
        align-items: flex-start
      .btn
        margin-right: 11px
        @include mobileSmall
          margin-right: 0

.dropdown-content li>a, .dropdown-content li>span
  color: #212121
  font-size: 14px
  @include mobileSmall
    font-size: 12px


// removing ios blinking cursor on text areas //
select
  appearance: none

input,
input:focus
  outline: none

input[type="text"]
  color: transparent
  text-shadow: 0 0 0 #000

input[type="text"]:focus
  outline: none
  font-size: 0px;
//   transform: scale(0);
//   transition: 0s;

.select-wrapper input.select-dropdown
  transition: 0s;

//--------------------------//

.responce
  height: 100%
  width: 60%
  position: absolute
  left: 10px
  bottom: 0
  display: flex
  align-items: center
  @include mobileSmall
    width: 100%
    left: 0
    display: flex
    align-items: center
    justify-content: center
  .preloader-wrapper
    position: absolute
    top: calc(50% - 18px)
    left: 20px
    opacity: 0
    display: none
    @include mobileSmall
      top: calc(65% - 18px)
      left: calc(50% - 18px)
    .spinner-green, .spinner-green-only
      border-color: #673ab7
  .dataWrap
    display: none
    opacity: 0
    font-size: 16px
    @include mobileSmall
      position: absolute
      bottom: 0
      left: 0
      text-align: center
      width: 100%
      height: calc(100% - 40px)
      font-size: 14px
      .value
        margin-top: 25px